---
import {HumanTime} from '../components/human-time';

const {posts} = Astro.props;
---

<section class="mb-32 space-y-8">
    {
        posts.map((post) => (
            <div>
                <div class="flex flex-row items-center space-x-4">
                    <div
                        class="text-sm text-gray-500 uppercase font-jetbrains-mono"
                        transition:name={`article-time_${post.id}`}>
                        <HumanTime time={post.data.edited} client:visible />{' '}
                    </div>
                    {post.data.tags.slice(0, 1).map((tag) => (
                        <a href={`/tag/${tag}`} class="text-sm text-pink-500">
                            #{tag}
                        </a>
                    ))}
                </div>
                <a
                    href={`/blog/${post.slug}`}
                    class="text-2xl font-bold"
                    transition:name={`article-title_${post.id}`}>
                    {post.data?.['on-page-title-prefix'] + ' ' ?? ''}{' '}
                    <Fragment set:html={post.data.title} />
                </a>
            </div>
        ))
    }
</section>
